{% extends "_layout.html" %}

{% block header %}
    {% include '_main_header.html' %}
{% endblock header %}

{% block body %}

<div class="about-container">
<section class="about-me summary">
    <div class="about-bio">
        <h1>About me :)</h1>
        <p>Hey.</p>
        <br>
        <p>I'm Sebastião Casaleiro. I'm currently studying Game Design in university at <a href="https://colognegamelab.de/" target="_blank">Cologne Game Lab</a>, but I'm interested in many more things.</p>
        <br>
        <p>My biggest passions are creating fun challenging games and designing unique levels for my favourite games,
            writing and playing music inspired by my favourite artists with my own recogniseable elements,
            programming discord bot pets to automate tasks and do my every bidding,
            creating useful charismatic websites with stylish and bold graphic design,
            and writing fiction worth writing.</p>
        <br>
        <p>I like to create my own things, learn new skills and technologies, and contribute a little something of my own to every field I enjoy!</p>
        <a href="/static/CV_2022.pdf" target="_blank" style="margin-right: 1rem;">🎓Read my CV</a>
        <a href="mailto:sebastiancc.info@gmail.com?subject=Hey there!" target="_blank">📧Contact me</a>
    </div>

    <div class="about-portrait">
        <img src="/static/images/photo.webp" alt="photo of me">
    </div>
</section>
</div>
{% endblock body %}