<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Stuff I've Made | Sebastião Casaleiro</title>
</head>
<header class="header">
    <div class="header-img">
        <img src="images/logo.webp" alt="me :)" title="me :)">
    </div>
    <div class="header-categories">
        <nav>
            <ul>
                <li><a href="">Stuff I've Made</a></li>
                <li><a href="">About Me</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <section class="summary-big center">
        <h1>Stuff I've Made</h1>
        <p>From levels to complete video games; from blues guitar songs to chiptune tracks; from discord bots to full-stack websites; and even a noir thriller novel...</p>
        <p>Here's a cross-section of the projects I've made.</p>
    </section>
    
    <!-- VIDEO GAMES -->
    <section id="video-games" class="center">
        <!-- Section Header -->
        <div class="section-header">
            <h2>video games</h2>
        </div>

        <!-- Image Showcase with page links -->
        <div class="showcase">
            <!-- https://stackoverflow.com/questions/56392199/make-a-button-to-scroll-horizontally-in-div -->
            <!-- https://yogeshchauhan.com/how-to-create-a-horizontal-scroll-on-button-click-using-javascript/ -->
            <div class="slides">
                <!-- https://css-tricks.com/snippets/jquery/make-entire-div-clickable/ -->
                <a href=""><div class="showcase-item" data-desc="Looping top-down action inside the human body">
                    <img src="/static/images/thumb.webp" alt="project thumbnail">
                </div></a>

                <a href=""><div class="showcase-item" data-desc="Hard swarming arcade game">
                    <img src="images/slides2/skulls and mines slide.png" alt="">
                </div>
                </a>

                <a href=""><div class="showcase-item" data-desc="Twitch-reaction dodging game">
                    <img src="images/slides2/20 slide.png" alt="">
                </div>
                </a>

                <a href=""><div class="showcase-item" data-desc="Endless runner mobile game">
                    <img src="images/slides2/night sky slide.png" alt="">
                </div>
                </a>
                
            </div>
        </div>
    </section>

    <!-- BOARD GAMES -->
    <section id="board-games" class="center">
        <!-- Section Header -->
        <div class="section-header">
            <h2>board games</h2>
        </div>

        <!-- Image Showcase with page links -->
        <div class="showcase">
            <div class="slides">
                <a href=""><div class="showcase-item" data-desc="Real-Time Fast-Paced competitive board game">
                    <img src="images/board_games/rat game thumb.png" alt="">
                </div></a>

                <a href=""><div class="showcase-item" data-desc="Merchant & exploration game in the ancient near east">
                    <img src="images/board_games/tales of the caravan thumb.png" alt="">
                </div>
                </a>

                <a href=""><div class="showcase-item" data-desc="Fantasy dungeon crawler action adventure">
                    <img src="images/board_games/the depths thumb.png" alt="">
                </div>
                </a>
                
            </div>
        </div>
    </section>

    <!-- LEVEL DESIGN -->
    <section id="level-design" class="center">
        <!-- Section Header -->
        <div class="section-header">
            <h2>level design</h2>
        </div>

        <!-- Image Showcase with page links -->
        <div class="showcase">
            <div class="slides">
                <a href=""><div class="showcase-item" data-desc="75 unique maps i made for my favourite game :)">
                    <img src="images/level_design/duck game thumb.png" alt="">
                </div></a>

                <a href=""><div class="showcase-item" data-desc="Merchant & exploration game in the ancient near east">
                    <img src="images/level_design/quake thumb.png" alt="">
                </div>
                </a>

                <a href=""><div class="showcase-item" data-desc="Fantasy dungeon crawler action adventure">
                    <img src="images/level_design/civ v thumb.png" alt="">
                </div>
                </a>
                
            </div>
        </div>
    </section>


</body>



</html>